{% extends "layout.html" %}
{% block title %}
<title>Books Store</title>
{% endblock %}

{% block nav %}
{% if session["user"] %}
<li class="nav-item active">
  <a class="nav-link text-success">Welcome! {{ name }}</a>
</li>
<li class="nav-item">
  <a class="nav-link text-primary" href="{{ url_for('logout') }}">Logout</a>
</li>

{% else %}
<li class="nav-item active">
  <a class="nav-link text-primary" href="{{ url_for('login') }}">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link text-primary" href="{{ url_for('signup') }}">Sign Up</a>
</li>
{% endif %}
{% endblock %}

{% block main %}
    <main>
      <section>
        <div class="container">
          <div class="main-div">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Isbn</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Year</th>
                </tr>
              </thead>
              <tbody>
                {% if session["val"] %}
                {% for val in data %} 
                <tr>
                  <th scope="row">{{val.isbn}}</th>
                  <td>{{val.title}}</td>
                  <td>{{val.author}}</td>
                  <td>{{val.year}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <th scope="row">{{isbns}}</th>
                  <td>{{title}}</td>
                  <td>{{author}}</td>
                  <td>{{year}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>

          </div>
        </div>
      </section>
    </main>

{% endblock %}